body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

#main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #045FB1;
    border-radius: 30px;
    padding: 20px;
    padding-top: 50px;
}

#calculator {
    display: flex;
    flex-direction: column;
    min-height: 500px;
}

#display {
    background-color: #BFBF9E;
    width: 270px;
    height: 80px;
    border-radius: 5px;
    border: solid black 5px;
}

.spacer {
    min-height: 50px;
    background-color: #045FB1;
}
#buttonDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 375px;
    background-color: #EFC002;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

button {
    height: 60px;
    width: 60px;
    margin: 5px;
    font-size: 16pt;
    align-items: flex-end;
}

#backspace {
    width: 122px;
}

#zero {
    width: 122px;
}

button.numberpad {
    background-color: lightgray;
    border-radius: 10px;
    border: darkgray solid 5px;
    height: 56px;
    width: 56px;
}

button.delete {
    background-color: #ED5A01;
    border-radius: 10px;
    border: #BE4702 solid 6px;
    height: 54px;
    width: 54px;
}

button.operation {
    background-color: #F4AD67;
    color: antiquewhite;
    border-radius: 10px;
    border: #EF9329 solid 5px;
    height: 56px;
    width: 56px;
}